{% extends 'layout.html' %}

{% block title %}
<title>Match Outcome</title>
{% endblock %}

{% block content %}
<h1>Match outcome:</h1>
<p>Players move: {{ player_move }}</p>
<p>Computers move: {{ computer_move }}</p>
<p>Winning move: {{ winning_move }}</p>
<p>Winning method: {{ winning_method }}</p>
<p>Outcome: {{ result }}</p>

{% if final_round %}
  <p>That was your last round</p>
  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('display_leaderboard' )}}">Leaderboard</a></li>
  </ul>
{% else %}
  <a href="{{ url_for('player_turn')}}">Next Round</a></li>
{% endif %}

{% endblock %}