{% extends 'layout.html' %}

{% block title %}
<title>Match Outcome</title>
{% endblock %}

{% block content %}
<h1>Match outcome:</h1>
<p>You chose {{ player_move | capitalize }} and Computer chose {{ computer_move | capitalize }}.</p>
<p>
  <strong>{{ winning_method }}</strong>
</p>
{% if result == 'player' %}
<h3>You won the round!</h3>
{% elif result == 'computer' %}
<h3>You lost to the Computer!</h3>
{% else %}
<h3>It's a Draw!</h3>
{% endif %}
<br>
<h4>Your Score: {{ score }}/{{ max_rounds }}</h4>

{% if final_round %}
  <h2>Game Over!</h2>
  <p>That was the final round.</p>
{% endif %}

{% if final_round %}
  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('display_leaderboard' )}}">Leaderboard</a></li>
  </ul>
{% else %}
  <a href="{{ url_for('player_turn')}}">Next Round</a></li>
{% endif %}

{% endblock %}